@import "tailwindcss";

body {
    background-image: url('https://ideogram.ai/assets/image/lossless/response/kuBKy48mSHyjD9Db6LOdDA'); /* Replace with your image path */
    background-size: cover; /* Covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures body takes at least the full height of the viewport */
    color: rgb(0, 0, 0); /* Black text color */
}

.modal-background {
  background-image: url('https://ideogram.ai/assets/image/lossless/response/D5SIQso6QluYyEC2PZzY8A');
  background-size: cover;
  background-position: center;
}